                    <div class="col-md-4 col-sm-6">
                         <!-- MENU THUMB -->
                         <div class="menu-thumb">
                              <a href="{{fields.field_image.content}}" class="image-popup" title="{{fields.title.content}}">
                                   <img src="{{fields.field_image.content}}" class="img-responsive" alt="">

                                   <div class="menu-info">
                                        <div class="menu-item">
                                             <h3>{{fields.title.content}}</h3>
                                             <p>{{fields.field_item_contents.content}}</p>
                                        </div>
                                        <div class="menu-price">
                                             <span>{{fields.field_price.content}}</span>
                                        </div>
                                   </div>
                              </a>
                         </div>
                    </div>