
     <!-- CONTACT -->
     <section id="contact" data-stellar-background-ratio="0.5">
          <div class="container">
               <div class="row">
                    <div class="wow fadeInUp col-md-6 col-sm-12" data-wow-delay="0.4s">
                    </div>    

                    <div class="col-md-6 col-sm-12">

                         <div class="col-md-12 col-sm-12">
                              <div class="section-title wow fadeInUp" data-wow-delay="0.1s">
                                   <h2>User Login Form</h2>
                              </div>
                         </div>

                         <!-- CONTACT FORM -->
                         <form action="#" method="post" class="wow fadeInUp" id="contact-form" role="form" data-wow-delay="0.8s">
                         </form>

                              <div class="col-md-6 col-sm-6">
                                   {{ form.name }}
                              </div>

                              <div class="col-md-6 col-sm-6">
                                   {{ form.pass }}
                              </div>

                              <div class="col-md-12 col-sm-12">
                                   {{ form.actions }}
                              </div>
                              {{ form.form_build_id }}
                              {{ form.form_id }}
                                  
                    </div>

               </div>
          </div>
     </section>          


